* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: gray;
}

.calc-container {
  background-color: #272b33;
  border-radius: 25px;
  padding: 5px;
}

.theme-toggler {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 50px;
}

.output {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: end;
  height: 200px;
  width: 220px;
  margin-bottom: 15px;
  color: #fcfcfc;
}

.ans {
  font-size: 40px;
  font-weight: bold;
}

.numpad {
  background-color: #292d36;
  padding: 5px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  background-color: #2c2d37;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  width: 60px;
  height: 70px;
  color: #fcfcfc;
}

button:hover {
  /* box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
  filter: invert(5%);
}